@use 'setup';

$color-white: #ffffff;
$color-black: #000000;
$color-grey-medium: #7f7f7f;
$color-grey-light: #e8e5e480;



.header {
    font-family: inter;
    height: 92vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-weight: 100;

    &__title {

        &--title {
            text-align: center;
            font-size: 72px;
            margin: 14rem 17rem 2.5rem;
            font-weight: bold;
        }

        &--menu {
            display: flex;
            justify-content: center;
            list-style: none;


            li {
                font-family: Montserrat, sans-serif;
                font-weight: 400;
                font-size: 16px;
                margin: 3px;
                background-color: rgb(227, 221, 221);
                border-radius: 100px;
                height: 1.5rem;
                width: max-content;
                overflow: hidden;
                padding: .3rem;
                display: table-cell;
                text-align: center;
                vertical-align: middle;
            }
        }
    }


    &__nav {
        display: flex;
        justify-content: center;
        list-style: none;
        width: 230px;
        background-color: rgba(232, 229, 228, 0.5);
        border-radius: 100px;
        font-size: 20px;
        position: absolute;
        left: 50%;
        top: 1%;
        transform: translate(-50%, 0%);

        &--page {
            position: absolute;
            left: 50%;
            top: 1%;
            transform: translate(-50%, 50%);

            a {
                text-decoration: none;

            }

            div {
                font-size: 20px;
                font-weight: bolder;
                height: 50px;
                width: 50px;
                display: table-cell;
                text-align: center;
                vertical-align: middle;
                border-radius: 50%;
                background: rgba(232, 229, 228, 0.5);
            }


            div:hover {
                background-color: black;
                color: #ffffff;
            }

        }


        &--li {
            margin: 4px;
            border-radius: 100px;
            padding: 10px;
            font-family: Montserrat, sans-serif;
            font-weight: 500;
            font-size: 14px;

        }

        &--li:first-child {
            background-color: $color-white;

        }
    }


}

.sticky {
    position: fixed;
    top: 0;
    width: 15%;
}