.image__box {
    display: flex;
    justify-content: space-around;




    &-img {
        width: 100%;
        border-radius: 5%;
        margin: .5rem;
    }


    &-img:hover {
        opacity: .3;
    }

    &-vid {
        width: 100%;
        border-radius: 5%;
    }

    &-vid:hover {
        opacity: .3;
    }



    .wide {
        width: 95%;
    }
}