@media (max-width:500px) {
    .header {
        height: 50vh;

        &__title {

            &--title {
                margin: 15.5rem 0.8rem;
                font-size: 30px;

            }

            &--menu {
                display: none;
            }

        }

        &__nav {
            top: 0.3%;
        }
    }

    .image__box {
        flex-direction: column;
    }


    .inTouch {
        margin: 3rem 0;
        font-size: 32px;
    }

    .footer {
        flex-direction: column;
        align-items: center;

        &__name {
            flex-direction: column;
            text-align: center;

            p {
                align-items: center;
            }
        }

    }
}