$color-white: #ffffff;
$color-black: #000000;
$color-grey-medium: #7f7f7f;
$color-grey-light: #e8e5e480;

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;

}

body {
    position: relative;
    margin: auto 5%;

}

.first-section,
.second-section,
.third-section {
    transform: translateY(50px);
    opacity: 0;
    transition-property: transform, opacity;
    transition-duration: 1.5s;
    transition-timing-function: linear;
}

.in-view {
    transform: none;
    opacity: 1;
}

.in-view.fadeup,
.in-view .fadeup {
    transform: none;
    opacity: 1;
}